<div class="route-backend-posts-new">

  {{#if @model.post}}

    <Block::Backend::Header @title="New Post" as |Header|>
      <Header.Details @value={{@model.definition.label}}/>
      <Header.Actions>
        <Input::Button @class="action" @value="Cancel" @onClick={{this.onCancel}}/>
        <Input::Button @class="action" @value="Save" @onClick={{this.onSave}}/>
      </Header.Actions>
    </Block::Backend::Header>

    <Block::Backend::Post::Edit @post={{@model.post}} @onUpdate={{this.onUpdate}}/>

  {{else}}

    <Block::Backend::Header @title="New Post" as |Header|>
      <Header.Actions>
        <Input::Button @class="action" @value="Cancel" @onClick={{this.onCancel}}/>
      </Header.Actions>
    </Block::Backend::Header>

    <div class="definitions">
      <div class="title">Select post type</div>
      {{#each @model.definitions as |definition|}}
        <div class="definition" role="button" {{on "click" (fn this.selectDefinition definition)}}>{{definition.label}}</div>
      {{/each}}
    </div>

  {{/if}}

</div>
