  <div class={{class "block-frontend-posts-list" @class}}>
    {{#each (group-by @posts 'formattedCreatedAt') as |groups|}}
      {{#each groups as |post idx|}}
        <Block::Frontend::Posts::List::Post @post={{post}} @date={{eq idx 0}} @onSelected={{fn @onSelected post}}/>
      {{/each}}
    {{else}}
      <div class="placeholder">Nothing posted here yet</div>
    {{/each}}
  </div>
