<div class="row">
  <div class="label">Title</div>
  <Input::Text @class="input" @value={{@post.title}} @onUpdate={{fn @onUpdate 'title'}}/>
</div>

<Block::Backend::Tabs @label="Authors" @onSelect={{this.selectColumn}} @selected={{this.column}} as |Tabs|>
  {{#if Tabs.isTabs}}
    {{#each this.columns as |column|}}
      <Tabs.Tab @label={{or column.author 'Unnamed'}} @model={{column}}/>
    {{/each}}
  {{else if Tabs.isAccessories}}
    <Input::Button @class="action" @value="Add new author" @onClick={{this.addColumn}}/>
  {{/if}}
</Block::Backend::Tabs>

{{#if this.column}}

  <div class="row">
    <div class="label">Author</div>
    <Input::Text @class="input" @value={{this.author}} @onUpdate={{fn this.updateColumn 'author'}}/>
  </div>

  <div class="row fill">
    <Input::Textarea @class="input" @value={{this.body}} @onUpdate={{fn this.updateColumn 'body'}}/>
  </div>

  {{#if this.canRemoveColumn}}
    <div class="row actions">
      {{#if this.column.body}}
        <Input::Button::Confirm @class="action" @value="Remove author" @confirmation="Remove author, sure?" @onClick={{fn this.removeColumn}}/>
      {{else}}
        <Input::Button @class="action" @value="Remove" @onClick={{fn this.removeColumn}}/>
      {{/if}}
    </div>
  {{/if}}

{{/if}}
